@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@400..700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}
.container{
    width:100%;
    min-height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url(yoga2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    font-size: 28px;
}
.row{
    width:100%;
    padding:0px 80px;
}
.navbar ul{
    display:flex;
    float:right;
    align-items:center;
    justify-content: center;
    margin-top: 0px;
    margin-right:90px;
}
.navbar ul li{
    list-style:none;
    margin-left: 42px;
    margin-top:0px;
    font-size:24px;
    border-radius: 2px;

}
.navbar ul li a{
    text-decoration:none;
    text-align:end;
    color:black;
    font-weight: bold;
    transition:0.4s ease-in-out;
}

    .navbar ul li a:hover {
        color: #ffffff;
    }
  h1{
    font-family: "Dancing Script", cursive;
} 
.content{
    width:100%;
    min-height:100vh;
    top:30;
    left:0;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
.content h1{
    
    justify-content:center;
}
    .content a {
        justify-content: center;
        text-decoration: none;
        color: black;
        padding: 7px;
        transition: 0.4s ease-in-out;
    }
    .content a:hover {
          color: #ffffff;
     }